name: Build LKM for HymoFS
on:
  workflow_call:
    inputs:
      full_archs:
        description: "Build all archs (armv7, x86_64) - for release"
        required: false
        default: false
        type: boolean
  workflow_dispatch:
    inputs:
      full_archs:
        description: "Build all archs (armv7, x86_64) - for release"
        required: false
        default: false
        type: boolean
jobs:
  build-hymofs-lkm:
    strategy:
      fail-fast: false
      matrix:
        kmi:
          - android12-5.10
          - android13-5.10
          - android13-5.15
          - android14-5.15
          - android14-6.1
          - android15-6.6
          - android16-6.12
        arch: ${{ (inputs.full_archs == true || github.event.inputs.full_archs == 'true') && fromJSON('["arm64","armv7","x86_64"]') || fromJSON('["arm64"]') }}
    uses: ./.github/workflows/hymofs-lkm.yml
    secrets: inherit
    with:
      kmi: ${{ matrix.kmi }}
      arch: ${{ matrix.arch }}
